
<!DOCTYPE html>
<html lang="en">
 <head>
    <!-- Basic -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ChocoPro</title>

    <!-- Style -->
    {% load static %}
    <link rel="stylesheet" href="{% static "style.css" %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
  <body>
    <!-- =========================
         START HEADER SECTION
    ============================== -->
    <header>
        <!-- START PAGE HEADER -->
        <div class="page_header fixed_bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="page_header_title">
                            <h2>Новый пост</h2>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="page_header_breadcumb">
                            <ul>
                                <li><a href="/">Назад</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE HEADER -->
    </header>
    <!-- START BLOG SECTION -->
    <section class="contact_area page" >
        <div class="contact_inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="row">
                            {{ args }}
                            <form action="/add_post/" method="POST">{% csrf_token %}
                                {{ form.as_p }}
                                <input class="btn btn-success btn-dm" type="submit" value="Сохранить" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </body>
</html>