{% extends 'index.html' %}

{% block content %}
    <section class="team">
        <div class="container">
            <div class="row">
                {% for author in author %}
                <div class="col-md-4 text-center" style="padding-bottom: 50px;">
                    <!-- START SINGLE TEAM -->
                    <div class="single_team_one">
                        <div class="team_image">
                            <a href="{% url 'authors_post' author.username %}"> <img src="/static/media/profileimg/default.jpg" alt=""></a>
                            <div class="team_desc">
                                <h4>I am Creative</h4>
                            </div>
                        </div>
                        <a href="{% url 'authors_post' author.username %}"><h2>{{ author.first_name }} {{ author.last_name }}</h2></a>
                        <a href="{% url 'authors_post' author.username %}"><p>{{ author.username }}</p></a>
                    </div>
                    <!-- END SINGLE TEAM -->
                </div>
                    {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}