{% extends 'index.html' %}

{% block content %}
    <div class="widget category">
        <ul>
    {% for blog in blog %}
         <li><a href="{% url 'blog_view' blog.id %}">{{ blog.blog_name}}</a></li>
    {% endfor %}
        </ul>
    </div>
{% endblock %}