<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ChocoPro</title>

    <!-- Style -->
    {% load static %}
    <link rel="stylesheet" href="{% static "style.css" %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
     <!-- =========================
         START HEADER SECTION
    ============================== -->
    <header>

    <!-- START PAGE HEADER -->
        <div class="page_header">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="page_header_title">
                            <h2>BLOG - SINGLE SIDEBAR </h2>
                            <p>Lorem Ipsum is simply dummy text of the printing.</p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="page_header_breadcumb">
                            <ul>
                                <li><a href="{% url 'top' %}">По рейтингу</a></li>
                                <li><a href="{% url 'blog' %}">По категориям</a></li>
                                <li><a href="{% url 'authors' %}">По авторам</a></li>
                                <li>
                                    {% if username %}
                                        <a href="{% url 'profile' %}"> Profile </a> /
                                        <a href="{% url 'logout' %}"> Выход ({{ username }})</a>
                                    {% else %}
                                        <a href="{% url 'login' %}"> Вход </a> /
                                        <a href="{% url 'checkin' %}">Регистрация </a></li>
                                    {% endif %}


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE HEADER -->
    </header>
    <section class="blog_page">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <!-- START BLOG ELEMENT -->
                    {% block content %}
                    {% endblock %}
                    <!-- END BLOG ELEMENT -->
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <!-- START SIDEBAR -->
                    <div class="sidebar">
                        <!-- START WIDGET -->
                        <div class="widget search">
                            <form>
                              <div class="form-group">
                                <i class="pe-7s-search"></i>
                                <input type="search" class="form-control" id="Search" placeholder="Search Here ...">
                              </div>
                            </form>
                        </div>
                        <!-- END WIDGET -->

                        <!-- START WIDGET -->
                        <div class="widget category">
                            <h2>Categories</h2>
                            <ul>
                                {% for blogs in l.blogs %}
                                    <li><a href="{% url 'blog_view' blogs.id %}">{{ blogs.blog_name}}</a></li>
{#                                    {% url 'appname.views.detail' jobID=job.id %}#}
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- END WIDGET -->

                        <!-- START WIDGET -->
                        <div class="widget recent_post">
                            <h2>Топ 5 статей</h2>
                            <ul>
                                {% for top_post in l.top_post %}
                                <li><a href="{{ top_post.get_absolute_url }}">{{ top_post.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- END SIDEBAR -->
                </div>
                <div class="col-md-8">
                <!-- START PAGINATION -->
                {% block pagination %}
                {% endblock %}
                <!-- END PAGINATION -->
                </div>
            </div>
        </div>
    </section>
    <!-- START BLOG SECTION -->
 <!-- =========================
        START FOOTER
    ============================== -->
    <footer>
        <div class="multipage_footer">
            <div class="footer_top_two">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3" style="opacity: 0.3">
                            <div class="footer_widget f_about_us">
                                <h2>О Нас</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
                                <p>Ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer_widget">
                                <h2>Недавние публикации</h2>
                                <ul>
                                    {% for lpost in l.lpost %}
                                    <li>
                                        <h6><a href="{{ lpost.get_absolute_url }}">{{ lpost.title }} </a></h6>
                                        <p>{{ lpost.created|date:'F - d, y ' }}</p>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3" style="opacity: 0.3">
                            <div class="footer_widget">
                                <h2>Quick Link</h2>
                                <ul>
                                    <li><a href="#">Privacy Police</a></li>
                                    <li><a href="#">Terms and Conditions</a></li>
                                    <li><a href="#">Career</a></li>
                                    <li><a href="#">Faq</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3" style="opacity: 0.3">
                            <div class="footer_widget">
                                <h2>ARCHIVES</h2>
                                <ul>
                                    <li><a href="#">February 2016</a></li>
                                    <li><a href="#">January 2016</a></li>
                                    <li><a href="#">December 2015</a></li>
                                    <li><a href="#">November 2015</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom_two">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-sm-7">
                            <div class="copyright_text_two">
                                <p>&copy; All Right Reserved </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- =========================
        END FOOTER
    ============================== -->

</body>
</html>