{% extends 'index.html' %}

{% block content %}
{#    {% if posts.allow_post %}#}
        <div class="blog_listing">
            <div class="featured_image">
                <img src="/{{ postv.image }}" alt="">
            </div>
            <!-- BLOG DETAILS -->
            <div class="blog_details">
                <h2>{{ postv.title}}</h2>
                <p class="publish-data">
                    Posted on
                    <time itemprop="datePublished" datetime="{{ postv.created|date:'Y-m-d H:i:s' }}">
                        {{ postv.created }}
                    </time>
                    by
                    <span itemprop="author">{{ postv.author }}</span>
                </p>

                <span itemprop="articleBody">{{ postv.content }}</span>

                <footer>
                    <i><span class="hidden" itemprop="wordCount">{{ postv.content|wordcount }} слов</span></i>
                </footer>
            </div>
        </div>

        <!-- START COMMENT SECTION -->
                    <div class="comment_section">
                        <h6>Comment</h6>
                        <ul class="comment_list">
                             {% for comnt in comnt %}
                            <li>
                                <b><a href="{% url 'authors_post' comnt.comAuthor  %}">{{ comnt.comAuthor }}</a></b>
                                <p>{{ comnt.comContent }}</p>

                            </li>
                            {% endfor %}
                        </ul>
                    </div>


        <!-- END COMMENT SECTION -->
        {% if username %}
            <form action="" method="POST">
                {% csrf_token %}
                <div>
                   <label for="comment">{{ username }}: </label>
                    <textarea name="comment" id="comment"></textarea>
                </div>
                <div>
                    <input type="submit" class="button" value="Comment">
                </div>

            </form>
        {% else %}
            <p>Для того чтобы оставить комментарий Вам нужно авторизоваться в системе</p>
            <a href="{% url 'login' %}"> Вход </a> /
            <a href="{% url 'checkin' %}">Регистрация </a></li>
        {% endif %}
{#    {% endif %}#}
{% endblock %}