{% extends 'index.html' %}

{% block content %}
    {% for posts in posts %}
        {% if posts.allow_post %}
        <div class="blog_listing">
            <div class="featured_image">
                <a href="{{ posts.get_absolute_url }}"><img src="/{{ posts.image }}" alt=""></a>
            </div>
            <!-- BLOG DETAILS -->
            <div class="blog_details">
                <h2><a href="{{ posts.get_absolute_url }}">{{ posts.title}}</a></h2>
                <h4>Author: <a href="author/{{ posts.author }}">{{ posts.author }}</a> | {{ posts.created|date:'Y-m-d' }} | <a href="category/{{ posts.blog }}">{{ posts.blog }}</a> | Rating: {{ posts.rating }} </h4>
                <p>{{ posts.content }}</p>
                <a class="btn btn_b_read" href="{{ posts.get_absolute_url }}">Подробнее</a>
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% if posts.has_other_pages %}
    {% block pagination %}
        <div class="pagination_area">
            <nav>
                <ul class="pagination">
                    {% if posts.has_previous %}
                    <li>
                        <a class="prev" href="?page={{ posts.previous_page_number }}" aria-label="Previous">
                            Prev
                        </a>
                    </li>
                    {% endif %}
                    {% for i in posts.paginator.page_range %}
                      {% if posts.number == i %}
                        <li class="active"><a href="?page={{ i }}">{{ i }}</a></li>
                      {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if posts.has_next %}
                    <li>
                        <a class="next" href="?page={{ posts.next_page_number }}" aria-label="Next">
                            Next
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endblock %}
{% endif %}
