<!DOCTYPE html>
<html lang="en">
 <head>
    <!-- Basic -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ChocoPro</title>

    <!-- Style -->
    {% load static %}
    <link rel="stylesheet" href="{% static "style.css" %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
  <body>
    <!-- =========================
         START HEADER SECTION
    ============================== -->
    <header>
        <!-- START PAGE HEADER -->
        <div class="page_header fixed_bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="page_header_title">
                            <h2>Login</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing.</p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="page_header_breadcumb">
                            <ul>
                                <li><a href="/">Назад</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE HEADER -->
    </header>
    <!-- START BLOG SECTION -->
    <section class="contact_area page" id="CONTACT">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section_title">
                        <h2>Please, enter your name and password</h2>
                    </div>
                </div>
            </div>
        </div>

         {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
            {% else %}
        <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}

        <div class="contact_inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="row">
                            <form method="post" action="">{% csrf_token %}
                                <div class="form-group">
                                    {{ form.username.label_tag }}
                                    {{ form.username }}
                                </div>
                                <div class="form-group">
                                    {{ form.password.label_tag }}
                                    {{ form.password }}
                                </div>
                                <input class="btn btn-success btn-dm" type="submit" value="login" />
                                <input type="hidden" name="next" value="{{ next }}" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  <script>
    {% if not user.is_authenticated %}
    $("ul.nav.navbar-nav.navbar-right").css("display","none");
    {% endif %}
    </script>
  </body>
</html>