<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="UTF-8">
    <title>ChocoPro</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "style.css" %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="design">Chocopro</h1>
                <div>
{#                    <form action="" method="POST">{% csrf_token %}#}
{#                        <input type="text" name="{{ form.name.name }}" class="form-control">#}
{#                        <input type="email" name="{{ form.email.name }}" class="form-control">#}
{#                        <input type="submit" class="btn btn-primary" value="Зарегистрироваться">#}
{#                    </form>#}
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</body>
</html>