{% extends 'index.html' %}

{% block content %}
    <section class="team">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section_title">
                        <h4>My page</h4>
                        <h2>Profile</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ">
                    <!-- START SINGLE TEAM -->
                    <div class="single_team_one">
                        <div class="team_image">
                                <img src="/static/media/profileimg/tailordarden.jpg" alt="">
                        </div>
                        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                        <p>{{ user.username }}</p>
                        <div>
                            <a href="{% url 'own_post' %}">Мои посты</a>
                        </div>
                        <div>
                            <a href="{% url 'add_post' %}">Новый пост+</a>
                        </div>
                        <div class="">
                                <h2>I am Creative</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                        </div>
                    </div>
                    <!-- END SINGLE TEAM -->
                </div>

            </div>
        </div>
    </section>
{% endblock %}

